/* auction.css */

/* Styles for the title */
.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Styles for the device container */
  .device {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles for the bid section */
  .bid {
    text-align: center;
  }
  
  /* Styles for the input field */
  input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  /* Styles for the 'Set' button */
  button {
    padding: 8px 20px;
    background-color: #1c1e1f;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Styles for the message paragraph */
  p {
    color: rgb(83, 70, 70);
    font-style: italic;
  }
  