/* Styles for the parent container */
.parent {
  display: flex; /* Uses flexbox */
  align-items: center; /* Aligns children vertically */
  justify-content: center; /* Centers children horizontally */
}

/* Styles for the product details container */
.productDetails {
  display: flex; /* Uses flexbox */
  background-color: aliceblue; /* Sets background color */
  border-radius: 20px; /* Rounds corners */
  width: 60vw; /* Sets width relative to viewport width */
  height: 70vh; /* Sets height relative to viewport height */
}

/* Styles for the product display section */
.pDisplay {
  display: flex; /* Uses flexbox */
  flex-direction: column; /* Arranges items in a column */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  padding: 20px; /* Adds padding around content */
}

/* Styles for the product details section */
.pDetails {
  display: flex; /* Uses flexbox */
  flex-direction: column; /* Arranges items in a column */
  justify-content: center; /* Centers children vertically */
}
