.Parent {
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.Container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.663); 
    border-radius: 1px;
    border: 2px solid #ffffff; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    justify-content: center;
    padding: 10px;
}

.title{
    font-size: 24px; 
    bottom: 71px;
    color: rgb(255, 255, 255); 
    position: relative;
    background-color: rgba(255, 255, 255, 0.173);
    left: 530px;
    font-family: serif;
    border: 1px solid  rgb(169, 229, 255); 
    box-shadow: 2px 2px 20px rgb(169, 229, 255); 
    padding: 4px; 
    width: 11%; 
}
.cartProduct {
    display: flex;
    align-items: center;
    bottom: 60px;
    position: relative;
}

.cartProduct img {
    width: 160px;
    height:170px;
    border-radius: 8px;
    margin: 6px;
    border: 1px solid rgb(129, 211, 255);
    border-radius: 8px;
    box-shadow: 0 0px 8px rgb(129, 211, 255);
}

.checkout  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #009a2c;
}

.checkout button{
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    background-color: #0082d8;
    color: #fff;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
}

.checkout button:hover {
    background-color: #00497a;
    color: #fff;
}

.num-items {
  width: 15%;
  cursor: pointer;
  color: #000000;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0px 8px rgb(255, 255, 255);
  padding: 5px; 
  text-align: center;
  font-size: 18px;
}

.Home{
    position: relative;
    left: 1190px;
    bottom: 77px;  
    width: 6%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0082d8;
    color: #fff;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
}
 
.Home:hover {
    background-color: #00497a;
    color: #fff;
}

.details {
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .name {
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: serif;
  }
  
  .details p {
    color: #666;
    font-size: 1rem;
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0.476); 
    border-radius: 1px;
    border: 1px solid #000000; 
    border-radius: 5px;
    right:10px;
    position: relative;
  }

  .price-remove-container {
    display: flex;
    align-items: center;
    margin-top: 20px; 
  }
  
  .price {
    color: #009a2c;
    font-size: 1.25rem;
    margin-right: 80px; 
  }
  
  .remove {
    background-color: #ff3f52;
    color: #fff;
    padding: 8px 11px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
  }
  .remove:hover,
  .remove:active,
  .remove:focus{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
  }