/* *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
} */


/* body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #111;
} */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
  }
  
.circle
{
	position: relative;
	width: 600px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
  font-family: serif;
}

.circle {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle p {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 1s;
}

.circle p:nth-child(1) {
    border-radius: 41% 38% 41% 56%;
    animation: animate 8s linear infinite;
}

.circle p:nth-child(2) {
    border-radius: 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.circle p:nth-child(3) {
    border-radius: 40% 34% 36% 44%;
    animation: animate2 8s linear infinite;
}

.circle:hover p {
    border: 5px solid var(--clr);
    filter: drop-shadow(250px 5px 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(340deg);
    }
}

.form h2 
{
	font-size: 33px;
	color: #ffffff;
	margin-top: 40px;
}

.form .box input 
{
	position: relative;
	left: 0.1px; 
	width: 100%;
	padding: 13px 18px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 40px;
	font-size: 1.2em;
	color: #fff;
	bottom: 20px;
    
}


@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.form {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.form h2 {
    font-size: 33px;
    color: #ffffff;
}

.form .box {
    display: flex;
    flex-direction: column;
}

.form .box input {
    position: relative;
    left: 0.1vw;
    width: 100%;
    padding: 13px 18px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
}

.form .box .submit {

    width: 110%;
    background: linear-gradient(45deg, #ff357a, #fff172);
    padding: 13px 18px;
    border-radius: 40px;
    font-size: 1.2em;
    cursor: pointer;
}

.form .box .submit:hover,
.form .box .submit:focus,
.form .box .submit:active {
    background: #0078ff;
}

.form .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 18px;
}

.form .links a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
	top: 10px;
	position: relative;
}

.form .links a:hover,
.form .links a:focus,
.form .links a:active {
    text-decoration: underline;
    color: rgb(17, 0, 255);
    font-size: 16px;
}