body {
    margin: 0;
    padding: 0;
    background: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
    background-size: cover;
    background-position: fixed;
    align-items: center;
    justify-content: center;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.layout {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header-logos */
header {
    border: 2px solid #000000;
    box-shadow: 3px 3px 12px rgb(255, 255, 255);
    background-image: url('../public/assets/background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}
.header h1 {
    color: rgba(0, 0, 130, 0.778);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.526), 0 0 10px rgba(0, 0, 255, 0.577);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.864);
    box-shadow: 0 0 20px 10px rgba(0, 0, 70, 0.507);
    letter-spacing: 3px;
    margin: 0;
    margin-top: 20px;
    border-style: groove;
    border-color: rgba(255, 255, 255, 0.995);
}
.header p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 10px;
    font-weight: 600;
}

.header-logo {
    display: flex;
    align-items: center;
}
.logo {
    width: 75px;
    height: 75px;
    margin-right: 10px;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: 0px 0px 13px rgb(255, 255, 255);
}
.shop-icon {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    left: 31px;
    position: relative;
    border: 1px solid transparent;
    transition: border 0.5s ease;
    box-shadow: 0 2px 9px rgba(248, 248, 248, 0.439);
}
.shop-icon:hover {
    border: 1px solid #ffffffc6;
}

.sign-up {
    display: flex;
    align-items: center;
    gap: 20px;
}
.sign-up button {
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
}

/* Nav-bar */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 45px;
    font-size: 16px;
    margin-bottom: 16px;
    letter-spacing: 2px;
}
nav a {
    color: #ffffff;
    transition: color 0.3s;
    border-color: rgb(30, 0, 121);
    padding: 1px;
    text-decoration: none;
}
nav a:hover {
    color: rgb(129, 211, 255);
    text-shadow: 0 0 3px #ffffff;
    text-decoration: underline;
}
nav a:active {
    color: rgb(129, 211, 255);
    font-weight: bold;
    text-shadow: none;
    text-decoration: underline;
    font-size: 17px;
}

.cart-count {
    border-radius: 1px;
    font-size: 24px;
    right: 35px;
    bottom: 6px;
    position: relative;
}

/* Footer */
footer {
    background-image: url('../public/assets/background.jpg');
    background-position: center;
    background-size: cover;
    border-top: 2px solid #000000;
    color: white;
    text-align: center;
    bottom: 0; 
    width: 103%;
    height: 8vh;
    border: 2px solid #000000;
    box-shadow: 3px 3px 12px rgb(255, 255, 255);
    position: fixed;
}
.footer-layout {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    top: 3px;
    position: relative;
}
#list-1 {
    flex: 2;
    text-align: left;
    padding: 2px 42px 0px;
    bottom: 5px;
    position: relative;;
}
#list-1 a{
    font-size: 17px;
    bottom: 6px;
    position: relative;
    color: rgb(101, 202, 253);
    text-decoration: none;
    letter-spacing: 1px;
}
#list-1 a:hover{
    color: red;
    text-decoration: underline;
    font-size: 18px;
    position: relative;
    letter-spacing: 2px;
}
#list-2 {
    text-align: left;
    padding: 10px 20px 5px;
    float: center;
}
#list-3 {
    flex: 2;
    text-align: left;
    padding: 0px 20px 5px;
}
#list-4 {
    flex: 2;
    text-align: left;
    padding: 0px 0px 5px;
}
footer img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top:  1px;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

/* .search-bar */
.search-container {
    margin-left: 2px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 1px;
    padding: 0 10px;
    width: 58%;
}

.search-bar {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 4px;
    flex: 1;
    margin-bottom: 20px;
}
.search-button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #08d80f;
    color: rgb(4, 0, 61);
    text-shadow: 3px 3px 12px #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}
.search-button:hover,
.search-button:active,
.search-button:focus{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #ffffff;
    background-color: rgba(42, 211, 12, 0.687);
}

/* Devices-Gallery */
.devices-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    margin-top: 1px;
    border: 2px solid #fffefe;
    border-style: groove;
}
.devices-container img {
    border-radius: 10px;
    margin: 2px;
}


/* Filter-select-box */
.filter_options {
    display: flex;
    align-items: center; 
    position: relative;
    bottom: 4px;
    right: 90px;
    position: relative;
}
 .select-box {
    padding: 4px 8px;
    width:30%; 
    font-size: 15px;
    border-radius: 2px;
    margin-left:16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none; 
    background-color: rgb(255, 255, 255);
} 
.option {
    text-align: center;
}
.select-box option {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 12px;
    font-family: monospace;
}
.select-box:hover,
.select-box:active,
.select-box:focus {
    background-color: rgba(42, 211, 12, 0.687);
    color: rgb(255, 255, 255);
} 
.apply-button{
    padding: 6px 8px; 
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #08d80f;
    color: #04003d;
    cursor: pointer;
    margin-left: 10px;
}
.apply-button:hover,
.apply-button:active,
.apply-button:focus {
    background-color: rgba(42, 211, 12, 0.687);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
  
/* ProductGallery */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

.card-top{
    top: 40px;
    position: relative;
}
  
.card-top,
.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 10px;
    border: 3px solid #fffefe;
    border-style: groove;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 200px;
    height: 270px;
    margin-bottom: 103px;
}
  .item-img,
  .card-img {
    width: 160px;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(129, 211, 255);
    box-shadow: 0 0px 8px rgb(129, 211, 255);
  }
  
  .item-img:hover,
  .card-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  } 

  .card-heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
  
  .card-price {
    color: #37ff00;
    font-size: 15px;
}
  
  /* Filtered-Card */
  .filtered-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
  .filtered-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border: 3px solid #fffefe;
    border-style: groove;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 200px;
    height: 350px;
    margin-bottom: 120px;
    
}

  .filtered-img {
    width: 160px;
    height: 180px;
    border-radius: 8px;
    margin-bottom:3px;
    border: 1px solid rgb(129, 211, 255);
    box-shadow: 0 0px 8px rgb(129, 211, 255);
    margin-top: 20px; 
}

  .filtered-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

  .filtered-details h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
  
  .filtered-details p {
    color: #37ff00;
    font-size: 15px;
}

.auction{
    border-radius: 10px;
    background-color: #32e600;
    font-size:20px;
    margin-left: 170px;
    border: none; 
    display: flex;

}

.auction:hover{
    background-color: rgba(42, 211, 12, 0.687);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.detail-btn {
    border-radius: 1px;
    background-color: #0077c7;
    color: #fff;
    font-size:16px;
    border: block; 
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
    border: 1px solid #ffffff; 
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.7); 
}
.detail-btn:hover,
.detail-btn:active,
.detail-btn:focus{
 background-color: #004e81;
 color: #fff;
}

.login{
    position: relative;
    left: 15px; 
    bottom: 1px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 2px 9px rgba(248, 248, 248, 0.439);
    color: rgb(101, 202, 253);
    background-color: rgba(0, 0, 0, 0);

}

.login:hover,
.login:focus,
.login:active {
   color: rgb(255, 0, 0);
   text-decoration: underline;
   font-size: 19px;
}
  

  